[core]
        excludesfile = ~/.gitignore
[user]
        name = k-asm
        email = asami.kosuke@gmail.com
[color]
        ui = true
[alias]
        st = status -sb
        ci = commit
        br = branch
        co = checkout
        df = diff
        dc = diff --cached
        lg = log -p
        gr = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        undo = reset --hard ORIG_HEAD
        ps = !git push origin `git rev-parse --abbrev-ref HEAD`
        pl = !git pull origin `git rev-parse --abbrev-ref HEAD`
[push]
        default = simple
